:root {
  --border-color: #d5d5d5;
  --active: #efefef;
  --bg-color: #f1f1f1;
}

.container {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 51px;
  line-height: 36px;
  padding-top: 36px;
  background-color: var(--bg-color);
  border-right: 1px solid var(--border-color);
}
.container.rtl {
  left: inherit;
  right: 0;
  border-right: 0;
  border-left: 1px solid var(--border-color);
}

.item {
  font-family: Roboto, sans-serif;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  font-weight: 300;
  border-top: 1px solid var(--border-color);
  background-color: var(--bg-color);
}

.arabic .item {
  font-family: 'Amiri', serif;
}

