:root {
  --border-color: #d5d5d5;
}

[dir] .container {
  border: 1px solid var(--border-color);
  overflow: scroll;
  position: relative;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

[dir=rtl] .container {
  font-family: 'Amiri', serif;
}
