:root {
  --border-color: #d5d5d5;
}

.container {
  visibility: hidden;
  border: 1px solid var(--border-color);
  overflow: scroll;
  position: relative;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.container.rtl {
  font-family: 'Amiri', serif;
}

.visible {
  visibility: visible;
}