:root {
  --border-color: #d5d5d5;
  --active: #efefef;
}

.container {
  position: sticky;
  z-index: 10;
  top: 0;
  height: 36px;
  margin-left: 52px;
  line-height: 36px;
  border-bottom: 1px solid var(--border-color);
}
.container.rtl {
  margin-left: 0;
}
.container.rtl .item {
  font-size: 18px;
  border-left: 0;
  border-right: 1px solid var(--border-color);
  font-family: "Noto Naskh Arabic", serif;
}
.container.rtl .item:last-child {
  border-right: 0;
}

.item {
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  font-weight: 300;
  background-color: #f1f1f1;
  border-left: 1px solid var(--border-color);
}

.item:first-child {
  border-left: 0;
}
.item:last-child {
  border-right: 0;
}
